.header-container {
    background-color: $off-black;
    height: 50px;
}

.header {
    align-items: center;
    color: white;
    font-size: 10px;
    display: flex;
    height: inherit;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
}

#header-logo-button {
    @include logo-decoration;
}

#header-menu-button {
    border-radius: 10px;
    cursor: pointer;
    display: inherit;
    padding: 0 10px;
    height: 45px;
    transition: 0.3s;
}

#header-menu-button div {
    align-items: center;
    display: inherit;
}

#header-menu-button p {
    font-size: 20px;
}

#header-menu-button:hover {
    background-color: #2B2B2B;
}

#header-searchbar-container {
    display: inherit;
    color: black;
    height: 40px;
}

#header-seachbar {
    width: 300px;
    border-radius: 0 5px 5px 0;
    border: none;

}

.Dropdown-control {
    border: none;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid grey;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    outline: none;
    padding-top: 10px;
}

.hamburger-react {
    height: 10px;
}